
  <head>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">

    <title>{{title}}</title>
  </head>



  <body>
    <header class="sticky">
      <a href="#" class="logo">Logo</a>
      <button>Home</button>
      <a href="#" class="button">News</a>
      <span>|</span>
      <button>About</button>
      <button>Contact</button>
    </header>
