
  <head>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">

    <title>{{title}}</title>
    <header class="sticky">
      <a href="#" class="logo">Logo</a>
      <button>Home</button>
      <a href="#" class="button">News</a>
      <span>|</span>
      <button>About</button>
      <button>Contact</button>
    </header>
  </head>
  <body>
    <nav>
      <a href="#">Home</a>
      <span>News</span>
      <a href="#" class="sublink-1">New Courses</a>
      <a href="#" class="sublink-1">Certifications</a>
      <span class="sublink-1">Events</span>
      <a href="#" class="sublink-2">Course Showcase - 12th, Dec</a>
      <a href="#" class="sublink-2">Staff AMA - 16th, Dec</a>
      <a href="#" class="sublink-1">Policy Update</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </nav>
